<div class="lego-3d">
  <div
    id="3d-{{ model | slugify }}"
    class="online_3d_viewer"
    {% if poster %} style="background: no-repeat center/100% url({{ poster }})" {% endif %}
  >Loading model...</div>

  <div class="if-js"><small>
    model preview powered by <a href="https://github.com/kovacsv/Online3DViewer">Online 3D Viewer</a>,
    <br /> using my <a href="https://github.com/iliazeus/zmbx2gltf">Mecabricks-to-GlTF converter</a>
  </small></div>

  <div class="if-not-js"><small>Enable JavaScript for interactive 3D model preview and GlTF download.</small></div>

  <div>
    <small>download: <a href="{{ model }}" download>zmbx (Mecabricks)</a><span class="if-js">,
    <a id="download-gltf" download>GlTF</a></span>.</small>
  </div>
</div>

<script id="zmbx2gltf-script" src="/zmbx2gltf-0.1.5.bundle.js" async></script>
<script id="o3dv-script" src="/o3dv-0.8.21.min.js" async></script>
<script>
  const o3dvScript = document.getElementById("o3dv-script");
  const zmbx2gltfScript = document.getElementById("zmbx2gltf-script");
  const downloadGltfLink = document.getElementById("download-gltf");

  Promise.all([
    new Promise((cb) => o3dvScript.onload = cb),
    new Promise((cb) => zmbx2gltfScript.onload = cb),
  ]).then(async () => {
    const zmbxBlob = await (await fetch("{{ model }}")).blob();
    const zmbxFileName = "{{ model }}".split("/").pop();

    const gltf = await convertZmbxToGltf(zmbxBlob);
    const gltfFileName = zmbxFileName.replace(".zmbx", ".gltf");
    const gltfFile = new File([JSON.stringify(gltf)], gltfFileName);

    downloadGltfLink.href = URL.createObjectURL(gltfFile);
    downloadGltfLink.filename = gltfFileName;

    const element = document.getElementById("3d-{{ model | slugify }}");
    element.replaceChildren();

    const embeddedViewer = OV.Init3DViewerElementFromFileList(
      element,
      [gltfFile],
      {
        edgeSettings: new OV.EdgeSettings(true, new OV.RGBColor(0, 0, 0), 32),
        backgroundColor: new OV.RGBAColor(0, 0, 0, 0),
        environmentSettings: new OV.EnvironmentSettings([
          "/envmaps/citadella/posx.jpg", "/envmaps/citadella/negx.jpg",
          "/envmaps/citadella/posy.jpg", "/envmaps/citadella/negy.jpg",
          "/envmaps/citadella/posz.jpg", "/envmaps/citadella/negz.jpg",
        ]),
        onModelLoaded: () => {
          element.style.background = null;
          element.style.cursor = "grab";
        },
      },
    );

    window["3d-{{ model | slugify }}"] = embeddedViewer;
  });
</script>
