<div class="lego-3d">
  <div
    id="3d-{{ model | slugify }}"
    class="online_3d_viewer"
    {% if poster %} style="background: url({{ poster }}) center/100%" {% endif %}
  ></div>

  <div class="if-js"><small>
    model preview powered by <a href="https://github.com/iliazeus/Online3DViewer">my fork</a>
    of <a href="https://github.com/kovacsv/Online3DViewer">Online 3D Viewer</a>,
    <br /> using my <a href="https://github.com/iliazeus/zmbx2gltf">Mecabricks-to-GlTF converter</a>
  </small></div>

  <div class="if-not-js"><small>Enable JavaScript for interactive 3D model preview.</small></div>
</div>

<script id="o3dv-script" src="/o3dv-0.8.20.min.js" async></script>
<script>
  const script = document.getElementById("o3dv-script");
  script.onload = () => {
    const element = document.getElementById("3d-{{ model | slugify }}");

    const embeddedViewer = OV.Init3DViewerElement(
      element,
      "{{ model }}".split(",").map(s => s.trim()),
      {
        edgeSettings: new OV.EdgeSettings(true, new OV.RGBColor(0, 0, 0), 32),
        backgroundColor: new OV.RGBAColor(0, 0, 0, 0),
        environmentSettings: new OV.EnvironmentSettings([
          "/envmaps/citadella/posx.jpg", "/envmaps/citadella/negx.jpg",
          "/envmaps/citadella/posy.jpg", "/envmaps/citadella/negy.jpg",
          "/envmaps/citadella/posz.jpg", "/envmaps/citadella/negz.jpg",
        ]),
        onModelLoaded: () => {
          element.style.background = null;
          element.style.cursor = "grab";
        },
      },
    );

    window["3d-{{ model | slugify }}"] = embeddedViewer;
  };
</script>
