<hgroup class="punkomatic-song" id="{{ slug }}">
  <h3><a class="anchor" href="#{{ slug }}" title="link to section">#</a>{{ title }}</h3>
  {% if description %}
  <p>{{ description | markdown | safe }}</p>
  {% else %}
  <ul class="horizontal">
    {% if author %}<li>Author: {{ author }}</li>{% endif %}
    {% if genre %}<li>{{ genre }}</li>{% endif %}
    {% if rating %}<li>Rating: {{ rating }}</li>{% endif %}
    {% if archive_link %}
    <li><a href="{{ archive_link }}">{{ stats }}</a></li>
    {% elif stats %}
    <li>{{ stats }}</li>
    {% endif %}
  </ul>
  {% endif %}
  <div class="row">
    <button id="play" title="Play or download" disabled>Play</button>
    <button id="copy" class="if-js" title="Copy data">Copy</button>
    <pre><code>{{ body | safe }}</code></pre>
  </div>
  <div id="audio" class="row"></div>
</hgroup>

<style>
  .punkomatic-song .row {
    display: flex;
    flex-flow: row nowrap;
  }

  .punkomatic-song .row button {
    margin-right: 5px;
    min-width: 72px;
    max-width: 72px;
    padding: 5px;
  }

  .punkomatic-song audio {
    width: 100%;
  }
</style>

<script type="module">
  import * as pm from "/punkomatic-0.5.2.js";

  const songDiv = document.querySelector(".punkomatic-song#{{ slug }}");

  const playButton = songDiv.querySelector("button#play");
  const copyButton = songDiv.querySelector("button#copy");
  const codeElt = songDiv.querySelector("code");
  const audioDiv = songDiv.querySelector("#audio");

  copyButton.onclick = async () => {
    await navigator.clipboard.writeText(codeElt.innerHTML);
    copyButton.innerText = "Done!";
    setTimeout(() => (copyButton.innerText = "Copy"), 2000);
  };

  playButton.disabled = false;
  playButton.onclick = async () => {
    playButton.onclick = null;

    audioDiv.innerText = "parsing song data...";
    const song = pm.parseSong("{{ body | safe }}");

    audioDiv.innerText = "rendering song...";
    const audio = await pm.renderSong(song, {
      baseSoundPath: "/punkomatic-samples/",
      onprogress: (c, t) => {
        audioDiv.innerText = `rendering song... ${(100 * c / t).toFixed(2)}% done`;
      },
    });

    audioDiv.innerText = "encoding song..."
    const file = await pm.encodeSong(song, audio);

    const audioElt = document.createElement("audio");
    audioElt.controls = true;
    audioElt.src = URL.createObjectURL(file);
    audioDiv.replaceChildren(audioElt);

    playButton.onclick = () => audioElt.play();
  };
</script>
