<div class="punkomatic-song" id="{{ slug }}">
  <div class="row">
    <button id="play" title="Play or download" disabled>Play</button>
    <button id="copy" class="if-js" title="Copy data">Copy</button>
    <pre><code>{{ body | safe }}</code></pre>
  </div>

  <div id="audio" class="row"></div>

  <style>
    .punkomatic-song .row {
      display: flex;
      flex-flow: row nowrap;
    }

    .punkomatic-song .row button {
      margin-right: 5px;
      min-width: 72px;
      max-width: 72px;
      padding: 5px;
    }

    .punkomatic-song audio {
      width: 100%;
    }
  </style>
</div>

<script>
  (async () => {
    const songDiv = document.querySelector(".punkomatic-song#{{ slug }}");

    const playButton = songDiv.querySelector("button#play");
    const copyButton = songDiv.querySelector("button#copy");
    const codeElt = songDiv.querySelector("code");
    const audioDiv = songDiv.querySelector("#audio");

    copyButton.onclick = async () => {
      await navigator.clipboard.writeText(codeElt.innerHTML);
      copyButton.innerText = "Done!";
      setTimeout(() => (copyButton.innerText = "Copy"), 2000);
    };

    let punkomaticScript = document.getElementById("punkomatic-script");
    if (!punkomaticScript) {
      punkomaticScript = Object.assign(document.createElement("script"), {
        id: "punkomatic-script",
        async: true,
        src: "/punkomatic-0.2.2.bundle.js",
      });
      document.body.appendChild(punkomaticScript);
      await new Promise((cb) => (punkomaticScript.onload = cb));
    }

    playButton.disabled = false;
    playButton.onclick = async () => {
      playButton.onclick = null;

      const blob = await PunkomaticJs.renderSongInBrowser({
        songData: "{{ body | safe }}",
        sampleBaseUrl: "/punkomatic-samples/",
        log: (text, progress) =>
          (audioDiv.innerText = progress
            ? `${text} (${progress.current}/${progress.total})`
            : text),
      });

      const audioElt = document.createElement("audio");
      audioElt.controls = true;
      audioElt.src = URL.createObjectURL(blob);
      audioDiv.replaceChildren(audioElt);

      playButton.onclick = () => audioElt.play();
    };
  })();
</script>
