{% macro badges(project) %}
<ul class="badges">
  {% for badge in project.badges | default(value=[]) %}
    {% if badge == "language" %}
    <li><img
      title="Language"
      alt="{{ project.language }}"
      src="https://img.shields.io/static/v1?style=flat-square&label=%20&message={{ project.language | urlencode }}"
    /></li>
    {% elif badge == "github" %}
    <li><a
      target="_blank"
      href="https://github.com/{{ project.github }}"
    ><img
      title="Source code on GitHub"
      alt="GitHub"
      src="https://img.shields.io/static/v1?label=%20&logo=github&style=flat-square&message=GitHub"
    /></a></li>
    {% elif badge == "github_license" %}
    <li><a
      target="_blank"
      href="https://github.com/{{ project.github }}"
      ><img
      title="Project license"
      alt="{{ project.license }}"
      src="https://img.shields.io/github/license/{{ project.github }}?style=flat-square"
    /></a></li>
    {% elif badge == "github_release" %}
    <li><a
      target="_blank"
      href="https://github.com/{{ project.github }}/releases/latest"
    ><img
      title="Latest release on GitHub"
      alt="GitHub"
      src="https://img.shields.io/github/v/release/{{ project.github }}?label=%20&logo=github&style=flat-square"
    /></a></li>
    {% elif badge == "github_stars" %}
    <li><a
      target="_blank"
      href="https://github.com/{{ project.github }}"
      ><img
      title="GitHub stars"
      alt="GitHub stars"
      src="https://img.shields.io/github/stars/{{ project.github }}?style=flat-square"
    /></a></li>
    {% elif badge == "vs_marketplace_rating" %}
    <li><a
      target="_blank"
      href="https://marketplace.visualstudio.com/items?itemName={{ project.vs_marketplace }}"
      ><img
      title="VS Marketplace rating"
      alt="{{ project.title }} - VS Marketplace"
      src="https://img.shields.io/visual-studio-marketplace/stars/{{ project.vs_marketplace }}?style=flat-square"
      /></a></li>
    {% else %}{{ badge }}{% endif %}
  {% endfor %}
</ul>
{% endmacro language %}